{% extends "base.html" %}

{% block title %}Instagram{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "css/post_list.css" %}{% endblock %}

{% block content %}

<div class="left">

</div>
<div class="content">	

		{% for post in posts %}
		<div class="post">
				<div class="article">
					<div class="post_owner">
						<div class="owner_user_id">
							<a class="user_id" href="{% url 'post:user_detail' user_pk=post.owner.id %}">
								{{ post.owner.user_id }}
							</a>
						</div>
						<div class="owner_user_description">
							{{post.owner.description}}
						</div>
					</div>
					<div class="todo_photo">
						<img src="{{ post.photo.url }}" alt="" class="post_image">
					</div>
				</div>
				
{% include 'include/post_middle.html' %}
        {% endfor %}
</div>


<div class="right">
</div>

{% endblock %}
